Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Login==0.6.3
Werkzeug==3.0.3
itsdangerous==2.2.0
click==8.1.7
Jinja2==3.1.4

# For handling image uploads securely
Pillow==10.4.0

# Optional: useful if you use .env files for secrets or DB configs
python-dotenv==1.0.1
